#
# pin constraints
#
NET CLK_N LOC = "K22"  |  DIFF_TERM = "TRUE"  |  IOSTANDARD = "LVDS_25";
NET CLK_P LOC = "K21"  |  DIFF_TERM = "TRUE"  |  IOSTANDARD = "LVDS_25";
NET DIP_Switches_4Bits_TRI_I[0] LOC = "C18"  |  IOSTANDARD = "LVCMOS25";
NET DIP_Switches_4Bits_TRI_I[1] LOC = "Y6"  |  IOSTANDARD = "LVCMOS25";
NET DIP_Switches_4Bits_TRI_I[2] LOC = "W6"  |  IOSTANDARD = "LVCMOS25";
NET DIP_Switches_4Bits_TRI_I[3] LOC = "E4"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_4Bits_TRI_O[0] LOC = "D17"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_4Bits_TRI_O[1] LOC = "AB4"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_4Bits_TRI_O[2] LOC = "D21"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_4Bits_TRI_O[3] LOC = "W15"  |  IOSTANDARD = "LVCMOS25";
NET Push_Buttons_4Bits_TRI_I[0] LOC = "F3"  |  IOSTANDARD = "LVCMOS25";
NET Push_Buttons_4Bits_TRI_I[1] LOC = "G6"  |  IOSTANDARD = "LVCMOS25";
NET Push_Buttons_4Bits_TRI_I[2] LOC = "F5"  |  IOSTANDARD = "LVCMOS25";
NET Push_Buttons_4Bits_TRI_I[3] LOC = "C1"  |  IOSTANDARD = "LVCMOS25";
NET RESET LOC = "H8"  |  IOSTANDARD = "LVCMOS15"  |  TIG;
NET RS232_Uart_1_sin LOC = "H17"  |  IOSTANDARD = "LVCMOS25";
NET RS232_Uart_1_sout LOC = "B21"  |  IOSTANDARD = "LVCMOS25";
#
# additional constraints
#

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 200000 kHz;
#
#
# PERSTN (input) signal.  The perstn signal should be
# obtained from the PCI Express interface if possible.  For
# slot based form factors, a perstn reset signal is usually
# present on the connector.  For cable based form factors, a
# perstn signal may not be available.  In this case, the
# system reset signal must be generated locally by some form of
# supervisory circuit.  You may change the IOSTANDARD and LOC
# to suit your requirements and VCCO voltage banking rules.
#

#
NET "*/REFCLK" TNM_NET = PCIe_Diff_Clk_TNM;
# 125MHz refclk:
TIMESPEC TS_PCIe_Diff_Clk = PERIOD PCIe_Diff_Clk_TNM 125000 kHz;
# 100MHz refclk:
# TIMESPEC TS_PCIe_Diff_Clk = PERIOD PCIe_Diff_Clk_TNM 100000 kHz;

NET "*axi_aclk_out*" TNM_NET = axi_aclk_out_TNM;
# 125MHz refclk:
TIMESPEC TS_axi_aclk_out = PERIOD axi_aclk_out_TNM TS_PCIe_Diff_Clk/2.0 HIGH 50 % PRIORITY 1;
# 100MHz refclk:
# TIMESPEC TS_axi_aclk_out = PERIOD axi_aclk_out_TNM TS_PCIe_Diff_Clk/1.6 HIGH 50 % PRIORITY 1;


#
# Transceiver instance placement.  This constraint selects the
# transceiver to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Spartan-6 GTP Transceiver User Guide for more
# information.
#
# PCIe Lane 0


NET  PCIe_Diff_Clk_N LOC = B10;
NET  PCIe_Diff_Clk_P LOC = A10;

INST */gtpa1_dual_i LOC = GTPA1_DUAL_X0Y0;
NET   PCI_Express_pci_exp_txp  LOC = B6;
NET   PCI_Express_pci_exp_txn  LOC = A6;
NET   PCI_Express_pci_exp_rxp  LOC = D7;
NET   PCI_Express_pci_exp_rxn  LOC = C7;

###########################################################################
#							OPENMAC 
###########################################################################
NET axi_openmac_0_oMii_txEnable_pin LOC= T8 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_iMii_txClk_pin LOC= L20 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_oMii_txData_pin<0> LOC= U10 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_oMii_txData_pin<1> LOC= T10 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_oMii_txData_pin<2> LOC= AB8 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_oMii_txData_pin<3> LOC= AA8 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_iMii_rxError_pin LOC= U20 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_iMii_rxDataValid_pin LOC= T22  | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_iMii_rxClk_pin LOC= P20 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_iMii_rxData_pin<0> LOC= P19 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_iMii_rxData_pin<1> LOC= Y22 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_iMii_rxData_pin<2> LOC= Y21 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_iMii_rxData_pin<3> LOC= W22 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_oSmi_nPhyRst_pin LOC= J22 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_ioSmi_dio_pin LOC= V20 | IOSTANDARD=LVCMOS25;
NET axi_openmac_0_oSmi_clk_pin LOC= R19 | IOSTANDARD=LVCMOS25;

#############################################################################
#							FLASH MEMORY
#############################################################################
NET Flash_Memory_address[0] LOC = "G19"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[10] LOC = "K19"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[11] LOC = "K18"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[12] LOC = "G20"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[13] LOC = "G22"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[14] LOC = "K17"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[15] LOC = "L17"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[16] LOC = "H21"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[17] LOC = "H22"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[18] LOC = "K20"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[19] LOC = "L19"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[1] LOC = "F20"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[20] LOC = "M21"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[21] LOC = "M22"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[22] LOC = "N20"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[23] LOC = "N22"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[2] LOC = "H18"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[3] LOC = "H19"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[4] LOC = "F21"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[5] LOC = "F22"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[6] LOC = "E20"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[7] LOC = "E22"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[8] LOC = "J19"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_address[9] LOC = "H20"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_adv_n LOC = "T19"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_ce_n LOC = "P21"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[0] LOC = "AB12"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[10] LOC = "Y5"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[11] LOC = "AB6"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[12] LOC = "AA6"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[13] LOC = "T14"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[14] LOC = "R13"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[15] LOC = "AA20"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[1] LOC = "AA12"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[2] LOC = "Y13"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[3] LOC = "AB18"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[4] LOC = "AA18"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[5] LOC = "AB19"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[6] LOC = "U6"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[7] LOC = "T7"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[8] LOC = "W9"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_data[9] LOC = "AB5"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_oe_n LOC = "P22"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_reset LOC = "V13"  |  IOSTANDARD = "LVCMOS25";
NET Flash_Memory_we_n LOC = "R20"  |  IOSTANDARD = "LVCMOS25";